.search
  absolute-center()
  height 33px
  width 336px
  border 1px solid #dedede

  &__form
    display block
    overflow hidden
    height 100%
    
  &__input
    display block
    float left
    height 100%
    width 299px
    padding-left 7px
    border none
  
  &__icon-wrapper
    display block
    float right
    height 100%
    padding 3px 6px 4px 6px

  &__icon
    fill #dedede
    height 22px
    width 22px
    
    &:hover
      fill #4ccfc1
      cursor pointer
