.header
  
  &__brand
    margin 21px 0 24px 70px
    
.nav
  
  &__list
    margin-left 55px
    
  &__link
    padding 0 22px
    

.search
  width 436px
  
  &__form
    height 100%
    
  &__input
    width 399px

.cart
  margin 21px 70px 26px 0
