.header
  height auto
  
  &__brand
    margin 15px 0 23px 20px
    

.search
  display block

.nav
  position static
  background #4ccfc1
  
  &__item
    padding-top 9px
    padding-bottom 9px
    width auto

  &__link
    padding 0 15px
    color #fff
    font-size 15px
    border-right 2px solid #fff
  
  &__link_no-border
    border-right none
