@font-face
  font-family 'OpenSans'
  src url('../fonts/OpenSans-Regular.ttf'),
      url('../fonts/OpenSans-Regular.woff'),
      url('../fonts/OpenSans-Regular.woff2')
  font-weight 400
  font-style normal

@font-face 
  font-family 'Bebas'
  src url('../fonts/BebasNeue-Regular.otf'),
      url('../fonts/BebasNeue-Regular.woff'),
      url('../fonts/BebasNeue-Regular.woff2')
  font-weight 400
  font-style normal

@font-face
  font-family 'Lobster';
  src url('../fonts/Lobster1.4.otf'),
      url('../fonts/Lobster1.4.woff'),
      url('../fonts/Lobster1.4.woff2')
  font-weight 400;
  font-style normal
