.main-carousel
  height 446px
  
  &__item
    height 100%
    width 768px
  
  &__image-wrapper
    clear right
    height 100%
    width 278px
    padding 67px 0 0 0
    
  &__title
    float none
    height auto
    width auto
    padding 0
    margin 80px 0 26px 378px
    font-size 61px
    line-height 54px
    
  &__description
    float none
    width 410px
    padding 0
    margin-left 378px
    margin-bottom 29px
    font-size 17px
    line-height 28px
    
  &__button
    clear none
    width auto
    margin-left 381px
    
.sub-carousel
  width 640px
