.footer
  background #3cc3b5
  color #fff
  
  &__menu
    overflow hidden
  
  &__title
    margin-top 40px
    margin-bottom 25px
    font-family "Bebas"
    font-size 27px
    line-height 25px

  &__links
    padding-left 10px
    float left
    width 50%
    
  // &__item
  //   display inline-block
    
  &__link
    color #fff
    
  &__copy
    margin-top 40px
    padding 15px
    background #2da89b
    color #fff
    font-size 15px
    line-height 16px
    text-align center
    
// * {
//   margin: 0;
// }
// html, body {
//   height: 100%;
// }
// .page-wrap {
//   min-height: 100%;
//   /* equal to footer height */
//   margin-bottom: -142px; 
// }
// .page-wrap:after {
//   content: "";
//   display: block;
// }
// .site-footer, .page-wrap:after {
//   height: 142px; 
// }
// .site-footer {
//   background: orange;
// }
